# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.db
*.sqlite
*.sqlite3
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.env.*
!.env.example

# Node
node_modules/
dist/
dist-ssr/
*.local

# OS & Editor
.DS_Store
.vscode/
.idea/
*.log
